.results-page-container {
  /*for footer to be at bottom*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.results{
    /* border: 1px solid; */
    max-width: 700px;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 1rem;
}

.results-answers{
  padding: 1rem;
  margin-bottom: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}



.results-score{
    width: fit-content;
    margin-left: auto;
}


.correct-option {
  background-color: #027a79;
}

.correct-clicked {
  background-color: #027a79;
}


.wrong-clicked {
  background-color: #e41c2a;
}
