.homepage{
  color: #04061f;
  margin: 2rem auto;
  margin-bottom: 0;
  width: 80%;

  min-height: 100vh;
  display: flex;
  flex-direction: column; /*related to footer -> margin-top:auto */
  gap: 2rem;
}

.landing-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.txt-container{
  font-weight: 700;
  font-size: 2rem;
}

.img-container{
    max-width: 50rem;
    margin: 0 auto;
    
}

.img-container > .hero-image{
   width: 100%;
}


@media screen and (max-width: 700px) {
  html{
    font-size: 12px;
  }

  .homepage{
   margin-top: 5rem;
   width: 90%;  
  }

.landing-container{
  position: relative;
  top: 5rem;/*to make the container look vertically-centered on small screen*/
}


.txt-container{
  /*hacky, for spacing to appear consistent*/
    padding: 0rem 4rem;
    padding-top: 4rem;
}


.img-container{
    min-width: 30rem;
}

.img-container > .hero-image{
  margin: 0 auto;
}

}