.card-horizontal{
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
}

.horizontal-image{
    border-radius: 4px;
}

.horizontal-image > img{
    border-radius: 4px;
}


.card-content{
    padding-top: 0;
    padding-bottom: 1rem;
}

.text-overlay > button{
    /*colors to be chnged with variables later*/
    background-color: #fdd142;
    color: #04061f;
}

