.rules-wrapper{
    max-width: 700px;
    
    /* centre div */
    position: absolute;
    top: 20vh;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    text-align: center;
    font-size: 1.8rem;
}

.rules-section{
    border: 1px solid;
    border-radius: 5px;
    background-color: beige;
    /* margin: 0 1rem; */
    margin-bottom: 2rem;
}

.btn > a{
    color: #04061f;
}

