.landing-footer {
  background-color: #04061f;
  color: #fdd142;
  width: 100%;

  margin-top: auto;

  /*for elements inside footer*/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.footer-link {
  color: #edfdfd;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 0 1rem;
}

.footer-link-gap {
  font-size: 1.2rem;
}

@media screen and (max-width: 700px) {
  .landing-footer {
    display: block;
    text-align: center;
  }
}
