@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');


.txt-lg{
  font-weight: 900;
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: 2px;
}

.txt-md{
  font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 2px;
}

.txt-sm{
  font-weight: 400;
    font-size: 1.5rem;
    line-height: 1rem;
    letter-spacing: 1px;
}
