@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;900&display=swap");

.App {
  font-family: "Nunito Sans", sans-serif;
}

.txt-lg {
  font-size: 2rem;
}

.txt-md {
  font-size: 1.6rem;
}

.txt-sm {
  font-size: 1.4rem;
}

/*overwriting buttons for quiz app from component library*/
.btn {
  padding: 0.5em 1.5em;
  border-radius: 5px;
}

.btn-primary {
  background-color: #fdd142;
  border: 2px solid #fdd142;
  color: #edfdfd;
  font-weight: 700;
}

.btn-secondary {
  border: 2px solid #fdd142;
  background-color: white;
  color: black;
}
